asgiref==3.4.1
backcall==0.1.0
decorator==5.1.0
Django==3.2.15
django-cors-headers==3.10.0
django-redis==5.1.0
djangorestframework==3.12.4
djangorestframework-camel-case==1.2.0
ipdb==0.13.2
ipython==7.14.0
ipython-genutils==0.2.0
jedi==0.17.0
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
psycopg2-binary==2.8.5
ptyprocess==0.6.0
Pygments==2.6.1
pytz==2019.3
redis==3.4.1
six==1.14.0
sqlparse==0.3.1
traitlets==4.3.3
wcwidth==0.1.9
